.loader-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Shaded backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Ensures it overlays other elements */
}

.loader-spinner {
  width: 2rem; /* Smaller width */
  height: 2rem; /* Smaller height */
}
